*
{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body
{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000af;
}
.calender-container
{
  width: 500px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
}
.header
{
  background-color: dodgerblue;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
button
{
  border: none;
  background: none;
  font-size: 22px;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}
select
{
  padding: 2px 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
}
.weekdays-container
{
  display: grid;
  grid-template-columns: repeat(7,1fr);
  gap: 10px;
  font-weight: 800;
  text-align: center;
  background-color: dodgerblue;
  padding: 10px 0;
  text-transform: uppercase;
  color: #fff;
}
.days
{
  display: grid;
  grid-template-columns: repeat(7,1fr);
   text-align: center;
  gap: 10px;
  padding: 10px 0;
}
.date-content
{
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px; 
  padding: 10px 0;
}
.date-content:hover
{
  background-color: dodgerblue;
  color: #fff;
  cursor: pointer;
}
.current
{
  background-color: tomato;
  color: #fff;
}